@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Roboto:wght@500&display=swap');
.mon_app {
    justify-content: center;
    align-items: center;
    padding: 10px 14%;
    margin: 0;
    background-color: #fffefe;
    height: max-content;
}

mat-sidenav-content {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
}

.all {
    height: 100%;
}

.body {
    background-color: #fffefe;
    width: 100%;
}

.partenaire {
    width: 100%;
}

.footer {
    padding: 0;
    margin-top: auto;
    background-color: transparent;
    margin-bottom: 0;
    width: 100%;
    // position: sticky;
}

.btn_scroll {
    height: 50px;
    width: 50px;
    background: rgb(206, 198, 198);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    z-index: 1000;
}

.last_header {
    width: 100%;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: rgba(235, 135, 5, 0.9) !important;
    flex-direction: column;
    font-family: 'Rajdhani', sans-serif;
    list-style: none;
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.9) !important;
}

.menu_sans_srcoll.menu_disparait {
    display: none;
}

.menu_wif_scrool.menu_apparait {
    display: inline-flex !important;
}

@media (max-width: 900px) {
    .menu_wif_scrool.menu_apparait {
        display: none !important;
    }
    .menu_sans_srcoll.menu_disparait {
        display: flex;
    }
    .menu_sans_srcoll {
        position: relative fixed;
        width: 100%;
        top: 0;
        display: contents;
    }
    .toggle_app.toggle_apparait {
        display: flex;
        right: 15px;
        top: 15px;
        position: fixed;
    }
    .mon_app {
        justify-content: center;
        align-items: center;
        padding: 3px 2%;
        margin: 0;
        background-color: #f1f1f1;
    }
}