<main>
    <div class="cards">
        <div class="card article" routerLink="nosArticles">
            <div class="card-info">
                <h2>2200</h2>
                <small>Articles publiés</small>
            </div>
        </div>

        <div class="card magazine" routerLink="nosMagasines">
            <div class="card-info">
                <h2>1300</h2>
                <small>Magazines publiés</small>
            </div>
        </div>

        <div class="card commentaire" routerLink="commentaires">
            <div class="card-info">
                <h2>120</h2>
                <small>Commentaires sur nos articles</small>
            </div>
        </div>


    </div>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>