<div class="col px-2 pt-5">
    <h1>Modifier Mon Mots de passe</h1>
    <form class="text-white" (ngSubmit)="onSubmit(modifier_password)" #modifier_password="ngForm">
        <div class="form-row">
            <div class="col-lg-8 ">
                <input  type="text" name="ancien_password" placeholder="Ancien mots de pass" class="form-control my-2 p-3" required ngModel >
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-8 ">
                <input  type="password" name="password" placeholder="Nouveau mots de passe" class="form-control my-2 p-3" required ngModel>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-8 ">
                <input  type="password" name="verif_password" placeholder="Verification du nouveau mots de passe" class="form-control my-2 p-3" required ngModel>
            </div>
        </div>
        <div class="form-row" *ngIf="ancien_pass==true">
            <div class="col-lg-8">
                <label  type="text"  class="mt-1 mb-3  alert alert-danger" >Ancien mots de passe incorrect!</label>
            </div>
        </div>
        <div class="form-row" *ngIf="pass_incorrect==true">
            <div class="col-lg-8">
                <label  type="text"  class="mt-1 mb-3 alert alert-danger" >Vos mots de passe ne se corespondent pas!</label>
            </div>
        </div>
        <div class="form-row" *ngIf="invalid==true">
            <div class="col-lg-8">
                <label  type="text"  class="mt-1 mb-3 alert alert-danger" >Eurrer liée au serveur!</label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-9">
                <button type="submit" class="btn btn-outline-primary mt-3 mb-3" [disabled]="modifier_password.invalid">Modifier</button>
            </div>
        </div>
    </form>
</div>