<ngx-spinner></ngx-spinner>
<div>
    <!-- Entete de la page -->
    <div class="entete">
        <div>
            <h1 class="text-primary" [innerHTML]="titre"></h1>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-secondary btn_retour" routerLink="../../acceuil">Retour à la liste des discussions</button>
    </div>

    <!-- Listes des discussions -->
    <div class="liste_discu" style="margin-right: 5%; margin-left: 5%; box-shadow: 0px 0px 1px rgb(129, 129, 126); padding: 1%;" *ngFor="let chat of all_message | paginate:{
                itemsPerPage:pageSize,
                currentPage:page,
                totalItems:count
            }; let i=index">
        <div class="liste_sujets">
            <div class="corps_discussion">
                <!-- src={{auteur_message(chat.user)[photo]}} -->
                <img *ngIf="chat.user.imgPath " id="connection_icon" class="rounded-circle" src="assets/img/mike.jpg" style="margin-right:2px ;height: 50px;width: 50px; left: 2px; margin-top: 2px;">
                <div *ngIf=" ! chat.user.imgPath " id="connection_icon" style="margin-right:2px ;height: 50px;width: 50px; left: 2px; margin-top: 2px;">
                    <div class="our-services settings">
                        <div class="icon">
                            <div class="compte_sans_img rounded-circle" [innerHtml]="imageLecteur(chat.user.nomComplet)"></div>
                        </div>
                    </div>
                </div>

                <div class="details_discussion" style="margin-top: 8px; margin-left: 20px;">
                    <div style="margin-bottom: 0px;">
                        <label class="titre_discussion" style="font-size: medium; color: rgb(20, 20, 136); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-bottom: 0px;">{{chat.user.nomComplet}}</label>
                        <label style="right:0px; margin-left: 5%;">il ya 15 minutes</label>
                    </div>
                    <div class="div_message" style="margin-top: 2px; ">
                        <label class="message" style="font-size: small; font-family: Arial, Helvetica, sans-serif; box-shadow: 0px 0px 6px rgb(94, 93, 90); padding: 2px;" [innerHtml]="chat.text"></label>
                    </div>
                </div>

            </div>
            <div class="dropdown-divider" style="color: orangered;"></div>
        </div>
    </div>

    <div class="col-md-12">
        <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]=true (pageChange)="handlePageChange($event)" [maxSize]=maxS></pagination-controls>
    </div>
    <!-- espace d'envoi dun message sur le forum -->
    <div class="div_poster_message Form" style="margin-left: 30%; margin-right: 5%;">
        <form (ngSubmit)="posterMessage(poste_message)" method="POST" #poste_message="ngForm">
            <textarea name="message" placeholder="Votre message...*" class="form-control my-2 p-3" ngModel required style="width: 100%; height: 100;"></textarea>
            <div style="width: 100%; display: flex;">
                <input type="submit" value="Envoyer" name="submit_commentaire" class="btn1 " [disabled]="poste_message.invalid" style="margin-left: auto; justify-content: flex-end; margin-right: 1%;">
            </div>
        </form>
    </div>


</div>


<!-- <div class="liste_discu" style="margin-right: 5%; margin-left: 5%; box-shadow: 0px 0px 1px rgb(129, 129, 126); padding: 1%;">
        <div class="liste_sujets">
            <div class="corps_discussion">
                <img id="connection_icon" class="rounded-circle" src="assets/img/mike.jpg" style="margin-right:2px ;height: 50px;width: 50px; left: 2px; margin-top: 2px;"  >
                <div class="details_discussion" style="margin-top: 8px; margin-left: 20px;">
                    <div style="margin-bottom: 0px;">
                        <label class="titre_discussion" style="font-size: medium; color: rgb(20, 20, 136); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-bottom: 0px;">Nom de la personne</label>
                        <label style="right:0px; margin-left: 5%;">il ya 15 minutes</label>
                    </div>
                    <div class="div_message" style="margin-top: 2px; ">
                        <label class="message" style="font-size: small; font-family: Arial, Helvetica, sans-serif; box-shadow: 0px 0px 6px rgb(94, 93, 90); padding: 2px;">corps du message de discussion a ze ert gggdg bon jour moi cest lloba une question mincite la le Mali est un apys vert, mais porqoui tan</label>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider" style="color: orangered;"></div>

            
        </div>

        <div class="liste_sujets">
            <div class="corps_discussion">
                <img id="connection_icon" class="rounded-circle" src="assets/img/mike.jpg" style="margin-right:2px ;height: 50px;width: 50px; left: 2px; margin-top: 2px;"  >
                <div class="details_discussion" style="margin-top: 8px; margin-left: 20px;">
                    <div style="margin-bottom: 0px;">
                        <label class="titre_discussion" style="font-size: medium; color: rgb(20, 20, 136); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin-bottom: 0px;">Nom de la personne</label>
                        <label style="right:0px; margin-left: 5%;">il ya 15 minutes</label>
                    </div>
                    <div class="div_msg" style="margin-top: 2px; ">
                        <label class="msg" style="font-size: small; font-family: Arial, Helvetica, sans-serif; box-shadow: 0px 0px 6px rgb(94, 93, 90); padding: 2px;">corps du message de discussion a ze ert gggdg bon jour moi cest lloba une question mincite la le Mali est un apys vert, mais porqoui tan</label>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider"></div>

        </div>
    </div> -->