<main>
    <div class="recent-grid">
        <div class="projets">
            <div class="card-header hed">
                <h2>Nos magazines</h2>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead class="titre_table">
                        <tr>
                            <td>Titre</td>
                            <td>Publié par</td>
                            <td>Vues</td>
                            <td>Date publication</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let article of articles ; let i=index">
                            <td><small [innerHTML]="article.titre | slice:0:50"></small></td>
                            <td>categorie</td>
                            <td>{{article.rubrique}}</td>
                            <td>245</td>
                            <td>12</td>
                            <td>{{article.date_publication}}</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>

<!-- <p class="card-text"><small class="text-muted">{{ blog.date | date : 'longDate'}}</small></p> -->