<div class="container container_part">
    <h1 class="txt_partenaire">Nos Partenaires</h1>

    <div class="row">
        <div class="col">
            <img class="partenaire_icone" src="/assets/icones/logo-RJSM.jpg">

        </div>
        <div class="col">
            <img class="partenaire_icone" src="/assets/icones/Logo_CTA.png">

        </div>
        <div class="col">
            <img class="partenaire_icone" src="././assets/icones/ier_ico.png">

        </div>
        <div class="col">
            <img class="partenaire_icone" src="././assets/icones/usttb_ico.png">

        </div>
        <div class="col">
            <img class="partenaire_icone" src="/assets/icones/proslabs_ico.png">

        </div>
        <div class="col">
            <img class="partenaire_icone" src="/assets/icones/nef_ico.jpg">
        </div>
        <div class="col">
            <img class="partenaire_icone" src="/assets/icones/ird2_ico.png">
        </div>
    </div>

</div>