// .body{
//     margin: 0;
//     padding: 0;
//     font-family: sans-serif;
//     background:#131D28; //#34495e;
//     width: 100%;
//     height: 100%;
// }

// .box{
//     width: 500px;
//     padding: 40px 15px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background: #191919;
//     text-align: center;
//     border-radius: 5%;
//     box-shadow:inset;

// }
.body_login{
	height:max-content;
	width: 100%;
	margin: 0;
	padding: 0;
	background: rgb(186, 194, 186);
}
.login_content{
	
	width: 100%;
	// height: 95%;
	// margin-top: 2.5%;
	// margin-bottom: 2.5%;
	position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(255, 255, 255);
	text-align: center;
	// border-radius: 5%;
	// box-shadow: 0 0 25px 0 rgba(3, 4, 29, 0.822)

}

// .body{
	
// }
.admin_login{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	// width: 100%;
	z-index: -1;
	// border-radius: 6%;
	opacity: 0.5;
	margin-right: 20 !important;




}
.box h1{
    color: orange;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
}

.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 15px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;

}
.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 350px;
    border-color: orange;//#2ecc71;
    background: none;

}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 4px solid #0a4221;
    padding: 14px 30px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    margin-top: 30px;
}
.box input[type="submit"]:hover, .box input[type="submit"]:focus{
    background: #0a4221;
	color: rgb(255, 255, 255);

	
}
small{
    display: inline-block;
    color: rgb(255, 0, 0);
    cursor:default;
    bottom: 10px !important;
}



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

// .wave{
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	height: 100%;
// 	z-index: -1;
// 	display: none;
// }

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	width: auto;
    padding: 40px 15px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    // background: #191919;
    text-align: center;
    border-radius: 5%;
    box-shadow:inset;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #38d39f;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}

	.box input[type="text"]:focus, .box input[type="password"]:focus{
		width: 300px;
		border-color: orange;//#2ecc71;
		background: none;
	
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		
		top: 50%;
		left: 50%;
		justify-content: center;
	}

	.login_content{
		height: 99%;
		width: 98%;
	
	
	}
}