<main>
    <img class="entete" src="../../../assets/img/load.GIF">
    <form class="form-inline my-2">
        <div class="search">
            <div>
                <img class="ic_medcin" height="25px" src="assets/icones/point_intero.jpg">
                <input type="search" name="search" class="text-dark mr-sm-2 input" placeholder="Rechercher ici" aria-label="Search">
            </div>
            <button type='submit' class=" btn  btn-success">Chercher</button>
        </div>

    </form>
</main>