<mat-nav-list class="nav_list sticky-top">
    <div class="search_connection">
        <div class="entete_connection">

            <button mat-raised-button class="box">
                    <div class="news_letter" >
                        <mat-icon class="mbrs-icon-picto" width="16" height="16">mark_as_unread</mat-icon>
                        <span class="mbrs-icon-label">NewsLetter</span>
                    </div>
                    
            </button>

            <a type="button" (click)="openDialog()" *ngIf="user_service.isAuth==false">
                <div class=" btn_authentification_admin">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img id="admin_connection_icon" src={{icone_user}}>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a type="button" (click)="deconnectDialog(user_service.utilisateur)" *ngIf="user_service.isAuth==true">
                <div class=" btn_authentification_admin">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img id="admin_connection_icon" class="rounded-circle" src="assets/img/mike.jpg" style="margin: auto;height: 50px;width: 50px;">

                                <!--
                                <div class="compte_sans_img rounded-circle" [innerHtml]="compte_sans_img" ngIf="user_service.utilisateur.imgPath==default_user_img" pour le label ></div>                                    
                                    <img id="admin_connection_icon" class="rounded-circle" src="assets/img/mike.jpg" style="margin: auto;height: 50px;width: 50px;" *ngIf="user_service.utilisateur.imgPath !=default_user_img" >
                                        [src]="user_service.utilisateur.imgPath" -->
                            </div>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        <form class="d-flex">
            <input type="search" class="form-control me-2" placeholder="Rechercher ici" aria-label="recherche">
            <button class="btn btn-outline-success" type="submit">Recherche</button>
        </form>

    </div>
    <li class="nav-item">
        <button id="menu_btn" class=" drop nav-link" mat-button routerLink="home" routerLinkActive="active" (click)='onSidenavClose()'>Home</button>
    </li>
    <!-- <li class="nav-item">
        <button id="menu_btn" class="nav-link" mat-button  Routerlink="home" routerLinkActive="active">Acceuil</button>
    </li> -->
    <!-- actu science nationale -->
    <li class="nav-item dropdown">
        <button id="menu_btn " class="nav-link drop dropdown-toggle" routerLinkActive="active" mat-button href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actu Science Nationale
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="drop dropdown-item" routerLinkk="agriculture_nat" (click)='onSidenavClose()' style="width:100%">Agriculture</button>
            <div class="drop dropdown-divider"></div>
            <button class="drop dropdown-item" routerLinkk="sante_nat" (click)='onSidenavClose()'>Sante</button>
            <div class="drop dropdown-divider"></div>
            <button class="drop dropdown-item" routerLinkk="environnement_nat" (click)='onSidenavClose()'>Environnement</button>
            <div class="drop dropdown-divider"></div>
            <button class="drop dropdown-item" routerLinkk="technologie_nat" (click)='onSidenavClose()'>Technologie</button>
            <div class="drop dropdown-divider"></div>
            <button class="drop dropdown-item" routerLinkk="education_nat" (click)='onSidenavClose()'>Education</button>
            <div class="drop dropdown-divider"></div>
            <button class="drop dropdown-item" routerLinkk="societe_nat" (click)='onSidenavClose()'>Societe</button>
        </div>
    </li>

    <!-- Actu-science internationale -->
    <li class="nav-item dropdown">
        <button id="menu_btn" class="drop nav-link dropdown-toggle" routerLinkActive="active" mat-button href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actu Science Internationale
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" routerLinkk="agriculture_inter" (click)='onSidenavClose()'>Agriculture</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" routerLinkk="innovation_inter" (click)='onSidenavClose()'>Innovation</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" routerLinkk="environnement_inter" (click)='onSidenavClose()'>Environnement</button>

        </div>
    </li>

    <!-- Nos scientifiques -->
    <li class="nav-item dropdown">
        <button id="menu_btn" class="drop nav-link dropdown-toggle" routerLinkActive="active" mat-button href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nos Scientifiques
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" routerLinkk="portraits" (click)='onSidenavClose()'>Portraits</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" routerLinkk="opinions" (click)='onSidenavClose()'>Opinions</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" routerLinkk="edito" (click)='onSidenavClose()'>Edito</button>
        </div>
    </li>



    <li class="nav-item">
        <button id="menu_btn" class="drop nav-link" mat-button routerLink="magazine" routerLinkActive="active" (click)='onSidenavClose()'>Magazines</button>
    </li>
    <li class="nav-item">
        <button id="menu_btn" class="drop nav-link" mat-button routerLink="jstm_tv" routerLinkActive="active" (click)='onSidenavClose()'>JSTM TV</button>
    </li>
    <li class="nav-item">
        <button id="menu_btn" class="drop nav-link" mat-button routerLink="forum" routerLinkActive="active" (click)='onSidenavClose()'>Forum</button>
    </li>
    <li class="nav-item">
        <button id="menu_btn" mat-button class="drop nav-link" routerLink="offres" routerLinkActive="active" (click)='onSidenavClose()'>Les Offres</button>
    </li>
    <!-- <li class="nav-item">
        <button  id="menu_btn" class="nav-link" routerLinkActive="active"  mat-button routerLink="technologie">Technologie</button>
    </li>
    <li class="nav-item" >
        <button id="menu_btn" class="nav-link" routerLinkActive="active" mat-button routerLink="societe">Societe</button>
    </li>
    <li class="nav-item dropdown" >
        <button id="menu_btn" class="nav-link dropdown-toggle" routerLinkActive="active" mat-button href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actu-science nationale
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" routerLink="magasine">Magasine</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" routerLink="#">JSTM TV</button>
        </div>
    </li>
    <li class="nav-item dropdown">
        <button id="menu_btn" class="nav-link dropdown-toggle"  mat-button href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Anonce
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" routerLinkk="bibliotheque">Bibliotheque</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" routerLink="offre-emploi">Offre d'emploi-Appel d'offre</button>

        </div>
    </li>-->

    <li class="nav-item">
        <button id="menu_btn" class="drop nav-link" routerLinkActive="active" mat-button routerLink="a_propos" (click)='onSidenavClose()'>Decouvrez Nous</button>
    </li>
    <div>
        <a class="mbrs-icon ">
            <div class="btn_proposez_article">
                <span class="mbrs-icon-label">Proposez un article!</span>
            </div>

        </a>
    </div>

</mat-nav-list>