<ngx-spinner></ngx-spinner>
<div *ngIf="videos == []" style="width: 100%; height: 900px;"></div>
<div class="card-columns" style="padding-top: 5px;">
    <div *ngFor="let video of videos">
        <button type="button" class="videoAffiche btn btn-link" data-toggle="modal" data-target="#staticBackdrop" (click) = "onGetVideoId(video.snippet.title)" style="margin-top: 5px;margin-bottom: 5px;">
            <div class="card border-light" >
                <!-- <img class="card-img-top" src="assets/images.png" height="video.snippet.thumbnails.medium.height px"
                width="video.snippet.thumbnails.medium.width px" alt="logo_jstm" style="opacity: 0.5;"> -->
                <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" >{{ video.snippet.title | slice:0:60}}...</h5>
                  <!-- <p class="card-text">{{articles[i].description}}</p> -->
                </div>
            </div>
        </button>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">JSTMTV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click) = "onGetVideoId(null)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="embed-responsive embed-responsive-16by9">
                    <youtube-player class="embed-responsive-item"
                    videoId={{descrip}}
                    suggestedQuality="highres"
                    [width]="770"
                    [startSeconds]="43"
                    [endSeconds]="60" >
                </youtube-player>
                </div>
                
                <!-- <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div> -->
            </div>
        </div>
    </div>
</div>


