<div class="body">

    <section class="Form formulaire container ">
            <div class="row no-gutters">
                <div class="col-lg-5 img_log">
                    <img src="assets/img/login-tof.png" alt="JSTM" height="500px" >
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1>Recuperation de mon compte</h1>
                    <form>
                        <div class="form-row">
                            <mat-form-field class="my-3 col-lg-7">
                                <mat-label>Veuiller saisir le Mots de passe </mat-label>
                                <input matInput type="password" placeholder="********" class="form-control " >
                            </mat-form-field>
                        </div>
                        
 
                        <mat-label>Il s'agit du mots de passe de recuperation que vous venez de recevoir!</mat-label>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="button" class="btn1 mt-3 mb-3">Valider</button>
                            </div>
                        </div>
    
    
                    </form>
                </div>
            </div>
    </section>
</div>





