main {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
}

main {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.card {
    color: #fff;
    background-color: transparent;
    padding: 2rem 1rem;
    border-radius: 5%;
    border-width: 0;
}

.card-icon {
    text-align: center;
    display: grid;
    place-items: center;
}

.card-icon span {
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border-radius: 6px;
    font-size: 2rem;
}

.img_article_create {
    width: 50px !important;
}

/////////////////////articles
.article_admin {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
}

.btn_place {
    display: grid;
    left: 1px !important;
    color: #fff;
    row-gap: 10px;
    grid-template-rows: auto auto auto;
    padding: auto;
}

.card-columns article:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 17px rgba($color: #000000, $alpha: 0.35);
}

.card-columns a:hover {
    color: #606060;
    text-decoration: none;
}

.card-columns a:visited {
    color: #606060;
    text-decoration: none;
}

//////////////////////////////
.card-columns {}

.article_acceuil {
    border-radius: 10px;
}

.article_acceuil::placeholder {
    border-radius: 10px;
    background-color: transparent;
}

.article_acceuil:hover {
    // box-shadow: 0px 0px 6px rgb(241, 158, 3);
}

.img_article {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100px !important;
}

.txt_part {
    margin-top: -60px;
}

.txt_titre {
    margin-top: -20px;
}

.rubrique {
    align-items: center;
    justify-content: center;
    z-index: 11111;
    margin-left: 10%;
    background: rgba(255, 166, 0, 0.904);
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: solid;
    font-size: large;
}

.titre_publication {
    background: rgba(25, 65, 7, 0.575);
    border-radius: 10%;
    color: white;
    padding-left: 2px;
    padding-right: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

// :::::::::
.article {
    background-image: url(../../../../assets/img/perso_article.jpg);
    background-size: cover;
}

.commentaire {
    background-image: url(../../../../assets/img/perso_comment.png);
    background-size: cover;
}

.magazine {
    background-image: url(../../../../assets/img/perso_magazine.jpg);
    background-size: cover;
}

.nouvel_article {
    background-image: url(../../../../assets/img/create_art.jpg);
    background-size: cover;
}

.nouvel_article :hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 17px rgba($color: #000000, $alpha: 0.35);
}

.card-icon,
.card-info {
    padding: 2%;
    background-color: rgba($color: #000000, $alpha: 0.35);
    color: rgba($color: #ffffff, $alpha: 2);
}

.card-icon:hover,
.card-info :hover {
    background-color: rgba($color: #000000, $alpha: 0.35);
    color: rgba($color: #ffffff, $alpha: 5);
}

.card-body-list {
    margin-top: -50%;
}

//table
table {
    border-collapse: collapse;
}

td {
    color: #fff;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 100%;
}

.hed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.hed button {
    border-radius: 10px;
    font-size: .8rem;
    padding: .5rem 1rem;
}

.titre_table {
    background-color: orange;
}

@media (max-width: 990px) {
    .cards {
        display: inline;
    }
    // :::::::::
    .article {
        margin: auto;
    }
    .commentaire {
        margin: auto;
    }
    .magazine {
        margin: auto;
    }
}