
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Roboto:wght@500&display=swap');
p:hover {
    cursor: pointer;
}

.titre {
    font-family: 'Rajdhani', sans-serif;
    background-color: white;
    height: fit-content;
    width: auto;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-gap: 5px;
    box-shadow: 0px 0px 6px rgb(128, 9, 5);
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    transition: 1s;
}


/*la partie 1, la première ligne du menu icone,dernier article etc ...*/

.first_header {
    display: flex;
    max-height: 100px;
    margin: 0;
    padding: 0;
}

.last_magazine {
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    width: 300px;
    padding-left: 1rem;
    vertical-align: bottom;
    flex-grow: 1;
    flex-shrink: 1;
}

.event {
    display: -ms-inline-flexbox;
    height: 100%;
    max-width: 100%;
    position: relative;
    vertical-align: bottom;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.photo {
    background-color: white;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}

.photo_photo {
    object-fit: cover;
}

.photo:hover {
    position: absolute;
    width: 250px;
    height: max-content;
    z-index: 10000;
    transition: 1S;
    box-shadow: 0px 0px 20px rgb(32, 23, 23);
    .photo_photo {
        width: 250px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .btn_plus_text {
        display: inline-block;
        vertical-align: top;
    }
}

.icone_site {
    align-items: center;
    height: 80px;
    width: auto;
    object-fit: contain;
}

.search_connection {
    justify-self: end;
    align-items: flex-end;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
    margin-bottom: 3px;
    width: 400px;
    padding-left: 1rem;
    vertical-align: bottom;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
}

.entete_connection {
    display: grid;
    grid-template-columns: auto auto 65px;
    grid-gap: 3px;
    height: 100%;
    width: 100%;
}

.btn_plus_text {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.lire_le_journal_du {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-gap: 0ch;
}

.news_letter {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(133, 20, 20, 0.17)
}

.btn_proposez_article {
    display: grid;
    height: 50px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    text-decoration: solid;
    font-style: bold;
    text-align: center;
    border-radius: 10px;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(133, 20, 20, 0.17);
    height: 50px;
}

.btn_proposez_article:hover {
    cursor: pointer;
}

.news_letter:hover {
    cursor: pointer;
}

#txt_lecture_journal {
    font-size: small;
    padding-bottom: 0%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    justify-content: center;
}

.last_article_v {
    display: none;
}

#date_de_publication {
    color: blue;
    font-size: small;
    padding-bottom: 0%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#bouton_consulter_le_dernier_journal {
    margin-bottom: 2px;
}

.btn_inte:focus {}


/*concernant le bouton de connection */

.btn_authentification_admin {
    margin: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.our-services {
    text-align: center;
    border-radius: 10px;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

#admin_connection_icon {
    height: 50px;
    ;
    width: auto;
    object-position: initial center;
}

.compte_sans_img {
    height: 50px;
    width: auto;
    padding: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: rgba(145, 22, 114, 0.664);
}

.settings:hover {
    border-radius: 25%;
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #ffffff 0%, #16073d 100%);
}


/*liste dernier menu agriculture,....*/

.last_header {
    width: 100%;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-direction: column;
    list-style: none;
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px;
}

.navbar-nav .nav-link.active {
    background: rgba(235, 135, 5, 0.9) !important;
}

li {
    font-size: 18px;
    font-style: bold !important;
}


.d-lg-none {
    display: block!important;
}

.d-md-none {
    display: none!important;
}

@media (max-width: 900px) {
    .d-lg-none {
        display: none!important;
    }
    .d-md-none {
        display: inline-flex !important;
    }
    .d-none {
        display: none!important;
    }
    .last_header {
        background-color: white;
        width: 100% !important;
        display: flex;
        height: auto;
        align-items: flex-end;
        margin-bottom: 0px;
        flex-direction: row;
    }
    .titre {
        background-color: rgba(235, 135, 5, 0.9) !important;
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        grid-gap: 5px;
        box-shadow: 0px 0px 6px rgb(88, 86, 95);
        padding-top: 5px;
    }
    .toogle_ic {
        display: table;
        float: right;
        margin-left: auto;
        margin-right: 2%;
        margin-bottom: 3px;
        z-index: 100000;
    }
    .image_court {
        margin-left: 4%;
        top: 0px;
    }
    .div_nom {
        margin-left: 15%;
        font-size: 30px;
    }
    .nom_etp {
        font-family: fantasy;
    }
    .first_header {
        display: none;
    }
    .toggle_app.toggle_apparait {
        display: flex;
        right: 15px;
        top: 15px;
        position: fixed;
        background-color: rgba(235, 135, 5, 0.9) !important;
        border-radius: 15%;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 6px rgb(88, 86, 95);
    }
}

.sticky {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
}


