<h1 class="importante_phrase">Ici vous trouverez en temps réel toutes les informations <strong>Scientifiques</strong> et <strong>technologiques</strong> Malienne</h1>
<!-- <h1>Notre site a été conçu dans un seul but :</h1>
<p>Vulgarisez auprès de la population malienne et de diaspora les résultats des centres et institutions de recherches.</p> -->
<div>
    <p class="question question1">Qui somme nous ?</p>
    <div class="reponse1">
        <p> 
            Le Journal Scientifique et Technique du Mali(<strong>JSTM</strong>) est une société à responsabilité limité créée  le 25 mai 2016 sous le numero MA.BKO.2016.B.4211. 
            C'est une organe de presse spécialisé dans la communication scientifique et technologique et dans la mediation scientifique du MALI.
    
        </p>
        <p>
            JSTM est une initiative de monssieurs <strong>Hilaire DIARRA</strong>  et de <strong>Mamadou DIAKITE</strong> , qui sont respectivement Directeur de Publication et Directeur Financier du Journal.
        </p>
    
    
        <p>
            L’objet du journal est de vulgariser auprès de la population malienne et de la diaspora, les résultats des centres et institutions de recherches et aussi de promouvoir nos scientifiques. 
        </p>
    
    
        <p>
            Depuis plus de trois (3) ans,le JSTM a apporté des réponses précises et techniques dans la communication des sciences au Mali. Aujourd’hui il dispose de plus de deux cent mille (200 000) visiteurs sur le site web (www.jstm.org) qui lisent les articles et magazines numériques. 
            Notre audience est majoritairement constituée de chercheurs, de scientifiques, d’étudiants, d’enseignants et de professionnels divers. 
    
        </p>
    
        <p>
            Le Journal scientifique et technique du Mali dispose depuis novembre 2019 d’un studio où sont enregistrés les programmes vidéo pour sa web TV.
        </p>
    
        <p>
            Le siège du JSTM est à Badalabougou sur la Colline du savoir, au sein de la Faculté des sciences et techniques (FST), sous le sous-sol de l’amphithéâtre 1. 
        </p>
    </div>
</div>

<div>
    <p class="question2 question">Notre equipe, Notre mission et Nos valeurs ?</p>
    <div class="reponse2">
        <p>
            Notre équipe est composée de Journalistes, des Scientifiques, des Informaticiens, des Artistes et des Gestionnaires. 
 
        </p>
        <p>
            Notre mission rendre accessible l’information scientifique et technique à tous les Maliens avec:
        </p>
        <p>
            Intégrité – Crédibilité – Accessibilité – Détermination – Passion
        </p>
    </div>
</div>

<div>
    <p class="question3 question">Nos différents canaux</p>
    <div class="reponse3">
        <ul>
            <li>
                Site web Internet;
            </li>
            <li>
                Télévision;
            </li>
            <li>
                Radio;
            </li>
            <li>
                Magazines;
            </li>
            <li>
                Newspapers
            </li>
        </ul>
        
    </div>


</div>

<div>
    <p class="question4 question">Nos sources</p>
    <div class="reponse4">
        <p>
            Le Journal Scientifique et Technique du Mali tire ses articles auprès des sources suivantes : Universités, Centres de recherches, Chercheurs, Industries et Sociétés. 
        </p>

        <p>
                
        </p>
    </div>
</div>
<div>
    <p class="question5 question"></p>
</div>
<div>
    <p class="question6 question">Organisation</p>
    <div class="reponse6">
        <li class="sous_question">Directeur de publication</li>
        <p>Le Directeur de publication du JSTM est <strong>M. Hilaire DIARRA</strong>. Il est  à la tete du journal. Il est responsable de l'animation de l'équipe rédactionnelle. Il est également le gérant de qualité de la ligne éditoriale.
            <strong> M. Hialire</strong> a pour objectif d'obtimiser le développement du magazine, dans sa forme (son contenu, sa présentation) ainsi que dans son mode de fonctionnement.
        </p>

        <li class="sous_question">Directeur des opérations</li>
        <p>Le Directeur des opérations du JSTM est M. <strong>Ani Mardochée BOLI</strong>. Rattaché au Directeur de publication, il est reponsable de la stratégie opérationnelle de l'entreprise.
            Il est en charge d'optimiser les chiffres d'affaires et de participer au développement des activités du journal.
        </p>

        <li class="sous_question">Directeur financier</li>
        <p>Monsieur <strong>Diakiré Mamadou</strong> est le directeur financier du JSTM. Il a pour mission de superviser l'ensemble de la gestion administrative et financière du JSTM dans le but de lui garantir un équilibre financier, stratégique et légal.
            Rattaché au Directeur de publication le Directeur financier assure le role de chef comptable, de controle de gestion, et de trésorerie. 

        </p>

        <li class="sous_question">Rédacteur en chef</li>
        <p>Monsieur <strong>Mamadou TOGOLA</strong> est à la tête de l’équipe rédactionnelle. 
            Il est le rédacteur en chef et responsable du contenu et de la cohérence des différents articles du JSTM. 
            Son rôle essentiel est de déterminer les sujets à traiter, puis définir avec les journalistes l'angle des articles. 
            Toujours sur la brèche, il cherche sans cesse de nouvelles idées d’articles ou de rubriques en vue des prochaines parutions.
        </p>

        <li class="sous_question">Documentaliste</li>
        <p>Monsieur <strong>Souleymane Sogoba</strong> est chargé de mettre en place une bibliothèque scientifique numérique et physique. 
            Il travaille avec la communauté scientifique nationale et internationale pour atteindre les objectifs du JSTM. 
        </p>

    </div>
    <div>
        <p class="question7 question">Sponsors du JSTM</p>
        <div class="reponse7">
            <p>
                Le Journal Scientifique et Technique du Mali est sponsorisé par le laboratoire <strong>PROSLABS Microbio Consulting</strong>. 
            </p>
        </div>

    </div>

    <!-- <div>
        <p class="question8 question">Organigramme</p>
        <div class="reponse8">
            <p>
                <img src={{organigramme}} height="400px">
            </p>
        </div>

    </div> -->
</div>





